/* **************Header ***************/
.header {
  text-align: center;
  font-size: 25px;
  border-color: rgb(55, 0, 255);
  border-width: 5px;
  border-style: solid;
  height: 145px;
}

.header h1 {
  margin: 18px auto;
}

.header_nav {
  text-align: center;
  font-size: 25px;
  border-color: rgb(234, 0, 255);
  border-width: 5px;
  border-style: solid;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.header_subnav ul {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

/********************** HomePage ******************/
.homePage {
  text-align: center;
  border-color: rgb(10, 235, 216);
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

/************************ Reviews *********************/
.reviews {
  text-align: center;
  border-color: red;
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

.reviews > ul {
  padding: 20px;
}

.page_button {
  padding-bottom: 20px;
}
/********************* Categories ************************/
.categories {
  text-align: center;
  border-color: purple;
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

.categories > ul {
  padding: 20px;
}

/********************** SingleRev *********************/
.singleRev {
  text-align: center;
  border-color: green;
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

.singleRev > ul {
  padding: 20px;
}

/********************** RevComments *****************/
.revCom {
  text-align: center;
  border-color: rgba(212, 48, 157, 0.979);
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

.revCom > ul {
  padding: 20px;
}

/************************** AddComment *******************/
.addCom {
  text-align: center;
  border-color: rgb(17, 207, 191);
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

/****************************** Users **********************/
.users {
  text-align: center;
  border-color: rgb(245, 39, 24);
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

/**************************** SingleUser *******************/
.singleUser {
  text-align: center;
  border-color: rgb(24, 120, 245);
  border-width: 5px;
  border-style: solid;
  min-height: 108vh;
}

/******************* decorations *********************/

.review_list_img,
.review_img,
.user_avatar {
  width: 250px;
}

.filigree_img {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}
