/* @import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* font-family: 'Luxurious Roman', cursive; */
  font-family: 'Vollkorn', serif;
}

:root {
  --fs-h1: 5rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-body: 1.125rem;
  --fs-small: 0.9rem;
}

@media screen and (max-width: 799px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --fs-body: 0.75rem;
    --fs-small: 0.5rem;
  }
}

* {
  list-style: none;
  text-decoration: none;
  color: antiquewhite;
  text-shadow: -1px -2px 10px black, -1px -2px 5px black, 2px 3px 10px black;
}

* .link:hover {
  color: rgba(245, 202, 11, 0.952);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-body);
}

.Main {
  margin: auto;
  text-align: center;
  color: antiquewhite;
  border-color: black;
  border-width: 5px;
  border-style: solid;

  max-width: 800px;
  min-height: 86vh;

  /* background-image: url("../css/riskclear.jpg"); */
  background-image: url('../css/riskblurred.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* **************Header ***************/
.header {
  margin: auto;
  text-align: center;
  font-size: var(--fs-h1);
  max-width: 800px;
  height: 155px;
}

.header_nav {
  margin: auto;
  text-align: center;
  font-size: var(--fs-h3);
  max-width: 800px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

/********************** HomePage ******************/
.homePage {
  padding: 1.5em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}
.homePage h4 {
  margin: auto;
  max-width: 595px;
}

/************************ Reviews *********************/
.reviews {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.reviews > ul {
  padding: 20px;
}

.page_button {
  font-size: var(--fs-body);
  padding-bottom: 20px;
}

.review_list_img {
  margin: 1em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/********************* Categories ************************/
.categories {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.categories > ul {
  padding: 20px;
}

/********************** SingleRev *********************/
.singleRev {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.singleRev > ul {
  padding: 20px;
}

.review_img {
  margin: 2em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/********************** RevComments *****************/
.revCom {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.revCom > ul {
  padding: 20px;
}

/************************** AddComment *******************/
.addCom {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.addcom_user {
  font-size: var(--fs-body);
  margin-top: 20px;
  margin-bottom: 20px;
}

#addcom_user_input {
  color: black;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: 0px 0px 0px dimgray;
  background: antiquewhite;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.addcom_body {
  font-size: var(--fs-body);
  margin-top: 20px;
  margin-bottom: 20px;
}

#addcom_body_input {
  color: black;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: 0px 0px 0px dimgray;
  background: antiquewhite;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.addcom_button {
  font-size: var(--fs-small);
  padding: 0.4em 0.8em;
  background-color: dimgray;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0.25em 0.25em 0.5em rgba(0, 0, 0, 0.55),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.35);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/****************************** Users **********************/
.users {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

/**************************** SingleUser *******************/
.singleUser {
  padding-top: 1em;
  margin: auto;
  text-align: center;
  max-width: 800px;
  min-height: 86vh;
}

.user_avatar {
  margin: 2em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* *****************VotingButtonsRev // VotingButtonsCom**************** */
.decreaseButton,
.increaseButton {
  margin: 0.5em;
  color: black;
  overflow: hidden;
  border-radius: 5px;
  text-shadow: 0px 0px 0px dimgray;
  width: 2.5em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/******************* decorations *********************/

.review_list_img,
.review_img,
.user_avatar {
  width: 250px;
}

.filigree_img {
  width: 350px;
  margin: 20px 0;
}

/******************* mobile *********************/

@media (max-width: 800px) {
  .header h1 {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  .header {
    height: 145px;
  }

  .filigree_img {
    width: 250;
    margin: 20px 0;
  }
}
